div{
    height: 200px;
    width: 200px;
    background-color: rgb(245, 142, 8);
    margin: 10px;
}
h1{
    color: red;
    font-size: 40px;
}
#topDiv{
    background-color: blueviolet;
    height: 70px;
    width: 700px;
}
.group1{
    background-color: green;
}